.product-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 150px;
    margin-left: 120px;
}

.product{
    width: 300px;
    box-shadow: 0px 0px 2px rgb(0, 0, 0);
}

.productimg{
    width: 200px;
}